{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-12">
            <h1>Welcome to my Project 2</h1>
            <h2>Learn about PyLint, AAA testing, OOPs, and SOLID</h2>
<div class="row">
  <div class="column">
    <img src="../../static/images/docker hub.jpeg" width="400" height="450">
  </div>
    <h2><strong>Docker Hub:</strong></h2>
    <p>Docker Hub is a cloud-based repository that lets you create, test, store, and deploy Docker container images. It provides access to public open source image repositories and lets you create your own private repositories. You can use Docker Hub to download containerized versions of many popular open source software.</p>
  <div class="column">
    <img src="../../static/images/heroku.png">
  </div>
    <h2><strong>Heroku</strong></h2>
    <p>The Heroku platform provides a set of capabilities that deliver higher-order value. With Heroku, there is no need to learn about server configuration, network management, or tuning the latest version of a database. Heroku removes obstacles so developers can focus on what they do best: building great apps.</p>
  <div class="column">
    <img src="../../static/images/pytest.png">
  </div>
    <h2><strong>PyTest</strong></h2>
    <p>PyTest is a testing framework that allows users to write test codes using Python programming language. It helps you to write simple and scalable test cases for databases, APIs, or UI. PyTest is mainly used for writing tests for APIs. It helps to write tests from simple unit tests to complex functional tests</p>
</div>
{% endblock %}
</article>