{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-12">
            <h1>Welcome to my Project 2</h1>
            <h2>Learn about PyLint, AAA testing, OOPs, and SOLID</h2>
<div class="row">
  <div class="column">
    <img src="../../static/images/computer.jpg">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
  <div class="column">
    <img src="../../static/images/heroku.png">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
  <div class="column">
    <img src="../../static/images/pytest.png">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
</div>
</html>
{% endblock %}
</article>